* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%; }

#root {
  height: 100%; }

.App {
  height: 100%; }

nav {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #905ce4; }
  nav h1 {
    color: white;
    padding-right: 20px; }

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  font-size: 18px;
  color: white;
  background: #00d4ff;
  background: linear-gradient(180deg, #73eb9b 0%, #4bdbbc 61%, #9cec41 100%); }

.game-info {
  margin-left: 20px; }

.players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px; }
  .players label {
    margin-top: 10px; }
  .players input {
    padding: 5px; }

.board-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.status {
  text-align: center; }

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.btn-restart {
  background-color: #905ce4;
  margin: 20px;
  width: 80%;
  height: 80px;
  color: white;
  font-size: 24px; }

.board-row:after {
  clear: both;
  content: "";
  display: table; }

.status {
  margin-bottom: 10px; }

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px; }

.square:focus {
  outline: none;
  background: #ddd; }
